@tailwind base;
@tailwind components;
@tailwind utilities;

.jost {
  font-family: 'Jost', sans-serif;
}

.lara {
  font-family: 'Lora', serif;
}

.varela {
  font-family: 'Varela Round', sans-serif;
}

.login {
  background: linear-gradient(rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)),
    url("https://images.pexels.com/photos/10386739/pexels-photo-10386739.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
}

@layer base {
  .login {
    height: calc(100vh - 50px)
  }
}